.saved-news-header {
  max-width: 1440px;
  background: #ffffff;
  box-shadow: 0px -1px 0px 0px #d1d2d6 inset;
  display: flex;
  flex-direction: column;
}

.saved-news-header__heading {
  max-width: 712px;
  margin: 40px auto 28px 104px;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
}

.saved-news-header__subheading {
  max-width: 530px;
  margin: 0 auto 30px 104px;
  font-family: "Roboto Slab", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
}

.saved-news-header__keywords {
  max-width: 712px;
  margin-left: 104px;
  margin-bottom: 56px;
  display: flex;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
}

.saved-news-header__keywords-bold {
  font-weight: 700;
}

@media screen and (max-width: 960px) {
  .saved-news-header__heading {
    margin: 24px 16px 16px 40px;
    font-size: 14px;
  }

  .saved-news-header__subheading {
    max-width: 336px;
    margin: 0 392px 16px 40px;
    font-size: 30px;
    line-height: 34px;
  }

  .saved-news-header__keywords {
    margin-left: 40px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 600px) {
  .saved-news-header {
    margin: 0 5% 0 5%;
  }
  .saved-news-header__heading {
    max-width: 288px;
    margin: 8px 0 16px 0;
    font-size: 12px;
  }

  .saved-news-header__subheading {
    max-width: 288px;
    margin: 0 0 50px 0;
  }

  .saved-news-header__keywords {
    max-width: 288px;
    margin: 0 0 32px 0;
  }
}
