.header {
  width: 100%;
  height: 80px;
  background: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__image {
  max-width: 200px;
  height: 24px;
  margin-left: 5%;
}

.header__container {
  margin-right: 5%;
}

.header__home {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-decoration: none;
  margin-right: 42px;
}

.header__button-signin {
  width: 175px;
  padding: 12px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 100px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .header {
    height: 66px;
  }

  .header__container {
    width: 30%;
  }

  .header__container-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__home {
    font-size: 16px;
  }

  .header__button-signin {
    width: 69%;
    padding: 8px 12px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 100px;
    font-size: 16px;
  }
}
