.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
  margin-left: 104px;
}

.footer__home {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  text-decoration: none;
  margin-right: 40px;
}

.footer__button-practicum {
  width: 82px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-right: 41.89px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.footer__button-github {
  background: none;
  border: none;
  padding: 0;
  margin-right: 27.89px;
  cursor: pointer;
}

.footer__button-facebook {
  background: none;
  border: none;
  padding: 0;
  margin-right: 106px;
  cursor: pointer;
}
