.logged-in-header {
  width: 100%;
  height: 80px;
  background: #fff;
  color: #1a1b22;
  box-shadow: 0px -1px 0px 0px #d1d2d6 inset;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logged-in-header__logo {
  max-width: 200px;
  height: 24px;
  margin-left: 104px;
}

.logged-in-header__hamburger-menu-toggle {
  display: none;
}

.logged-in-header-nav__items {
  margin: 0 104px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.logged-in-header-nav__home {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  text-decoration: none;
  margin-right: 76px;
}

.logged-in-header-nav__articles {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  text-decoration: none;
  margin-right: 64px;
}

.logged-in-header-nav__button-signout {
  width: 112px;
  height: 48px;
  background-color: transparent;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  border: 1px solid #d1d2d6;
  padding: 12px 10px 12px 19px;
  cursor: pointer;
  color: #fff;
}

.logged-in-header-nav__button-signout-items {
  max-width: 80px;
  min-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logged-in-header-nav__user {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  margin: 0;
  max-width: 56px;
}

.logged-in-header-nav__logout {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 960px) {
  .logged-in-header {
    height: 66px;
  }

  .logged-in-header__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logged-in-header__logo {
    margin-left: 40px;
  }

  .logged-in-header-nav {
    height: 66px;
    display: flex;
  }

  .logged-in-header-nav__items {
    width: 30%;
    justify-content: space-between;
    margin-right: 40px;
  }

  .logged-in-header-nav__home {
    font-size: 16px;
  }

  .logged-in-header-nav__articles {
    width: 160px;
    font-size: 16px;
  }

  .logged-in-header-nav__button-signout {
    width: 100px;
    padding: 8px 8px 8px 15px;
  }

  .logged-in-header-nav__user {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .logged-in-header {
    height: 56px;
  }

  .logged-in-header_hamburger_menu_open {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .logged-in-header__container {
    height: 56px;
  }

  .logged-in-header__logo {
    margin-left: 16px;
  }

  .logged-in-header__logo-image {
    max-width: 117px;
  }

  .logged-in-header__hamburger-menu-toggle {
    display: block;
    background: transparent;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    border: none;
    cursor: pointer;
  }

  .logged-in-header-nav {
    display: none;
  }

  .logged-in-header-nav_open {
    display: inline-block;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 174px;
  }

  .logged-in-header-nav__items {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .logged-in-header-nav__home {
    margin: 0;
    display: block;
    width: 288px;
    text-align: left;
  }
}
